# Bỏ qua môi trường ảo Python
venv/

# Bỏ qua file/dữ liệu tạm
__pycache__/
*.pyc

# Bỏ media tạm (tuỳ chọn)
media/

# VSCode settings (nếu không muốn sync)
.vscode/

# Ignore database sqlite (nếu dùng)
*.sqlite3
